$body-bg: #16161a;
$body-color: #fffffe;

$theme-colors: (
  'primary': #004aad,
  'secondary': #72757e,
  'tertiary': #2cb67d,
  'highlight': #7f5af0,
  'light': #fffffe,
  'dark': #010101,
);

$border-radius: 1.5rem;

$navbar-brand-font-size: 2.3rem;

$dropdown-bg: #010101;
$dropdown-link-hover-bg: #94a1b2;
$dropdown-color: $body-color;

@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

p {
  color: #94a1b2;
}
